<h1>新規投稿</h1>

<%= form_with model: @list, url: '/lists', method: :post do |f| %>
  <h4>
    <%= f.label :title, "タイトル" %>
  </h4>
  <div>
    <%= f.text_field :title %>
  </div>
  <h4>
    <%= f.label :body, "本文" %>
  </h4>
  <%= f.text_area :body %>
  <h4>画像</h4>
  <!-accept画像に限定--->
  <%= f.file_field :image, accept: "image/*"%>
  <%= f.submit "投稿"%>
<% end %>
